<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testhi"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/medical_logo"
        android:label="Waiting Room"
        android:theme="@android:style/Theme.DeviceDefault.Light" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReviewEhrActivity"
            android:label="@string/title_activity_review_ehr" >
        </activity>
        <activity
            android:name=".SurveyActivity"
            android:label="@string/title_activity_survey_activity" >
        </activity>
        <activity
            android:name=".ThirdpartyActivity"
            android:label="@string/title_activity_thirdparty_activity" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".ConnectActivity">
        </activity>
        <activity
            android:name=".MainHelp" android:theme="@style/AppTheme.CustomTheme" >
        </activity>
        <activity
            android:name=".ReviewHelp" android:theme="@style/AppTheme.CustomTheme" >
        </activity>
                <activity
            android:name=".SurveyHelp" android:theme="@style/AppTheme.CustomTheme" >
        </activity>
                <activity
            android:name=".ConnectHelp" android:theme="@style/AppTheme.CustomTheme" >
        </activity>
    </application>

</manifest>
